@font-face {
  font-family: clockFont;
  src: url(../fonts/digital7.ttf) format('truetype');
}

body{
    display: flex;
    flex-direction: column;
}

#clock {
    text-align: center;
    font-size: 72px;
    font-family: clockFont;
    color: #7e7e7e;
    margin-top: 200px;
    opacity: 0;
}

#date {
    text-align: center;
    font-size: 48px;
    font-family: clockFont;
    color: #7e7e7e;
    opacity: 0;
}

#switch {
    background-color: #7e7e7e;
    color: #ffffffff;
    font-size: 14px;
    opacity: 0;
}

footer {
    margin-top: 150px;;
    display: flex;
    justify-content: flex-end;
}

#switch{
    font-family: Lato, Arial;
}

#image {
    position: absolute;
    opacity: 0; 
}

figure{
    display: flex;
}

#clock.fadeIn, #date.fadeIn, #switch.fadeIn, #image.fadeIn{
    transition-duration: 3s;
    opacity: 1;
}

@media only screen and (max-width: 768px){

}

@media only screen and (min-width: 769px) and (max-width: 1280px){
    #clock {
        font-size: 112px;
        margin-top: 150px;
    }
    
    #date {
        font-size: 72px;
    }
    
    footer{
        margin-top: 75px;
    }
}

@media only screen and (min-width: 1281px){
    #clock {
        font-size: 112px;
        margin-top: 150px;
    }
    
    #date {
        font-size: 72px;
    }
    
    footer {
        justify-content: center;
        margin-top: 0px;
    }
    
    #switch{
        font-size: 20px;
    }
}